html{
    font-family: 'Domine', serif;
    margin: 0px;
    padding: 0px;
}
body{
  background-image: linear-gradient(#ff4e50, #c9dcf3, white, #c9dcf3);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  clear: both;
  margin-left: -0.6%;
}
li{
  display: inline;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px; 

}

li a{

  font-family: 'Domine', serif;
  color: white;
  margin-left: 100px;
  padding: 1.25em 2.5em 1.25em 1.5em ;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
  text-decoration: solid red underline;
}

* {box-sizing:border-box}

.main{
  height: 60px;
  width: 100px;
  border-radius: 3px;
  float: left;
  border: none;
  background-color: none;
}

.title{

}


.container_main{
  width: 100%;
  height: 500px;
  /*background-color: red;*/
}
/*search bar*/
input[type=text]{

  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png'); 
  background-repeat: no-repeat;
  margin-top: 8px;
  margin-left: 40px;  
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus{

  width: 15%;
  margin-left: 20px;
  rgb(118,181,231)
}
.banner > h1{
  color: #ff4e50;
  background-image: linear-gradient(#76b5e7, white); 
  float: left;
  position: relative;
  z-index: -1;
  top: 50px;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-family: 'Lobster Two', cursive;
  font-size: 75px;
  box-shadow: 10px 10px 5px rgb(163,163,163);
  border-radius: 5px;
}
/*body toggle and shoe display part of website*/
.main{

  float: left;
  position: relative;
}
.box{

  height: 400px;
  text-align: center;
  width: 400px;
  float: left;
  margin: 20px;
  position: relative;
  border-radius: 2%;
  z-index: -1;
  box-shadow: 10px 10px 5px rgb(163,163,163);
  
}

.one{
  clear: left;
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/nikelunarepic2.png");
}
.two{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/nikehuarache.png");
}
.three{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/yeezy.png");
}
.three:hover{
  color: #ff4e50;
  font-stretch: 1px;
  font-size: 2.1em;
  font-weight: bold;
}

.four{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/adidasMboosts.png");
}
.five{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/nikeflynitracerM.png");
}


.six{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/nikefreerunairmax.png");
}
.seven{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/adidas%20tubluar.png");
}
.eight{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/Airforce1M.png");
}
.nine{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/AirmaxtavasM.png");
}


.ten{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/nikespecialfieldairforce1M.jpg");
}
.eleven{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/newbalance574M.png");
}
.twelve{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/huarache.png");
}
.thirteen{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/aj1royalblueM.png");
}
.fourteen{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/puremoney4sM.png");
}
.fifteen{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/retro3.png");
}

.set-one{
  clear: left;
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/ajMshirts.png");
}
.set-two{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/Mnikeshirt.png");
}
.set-three{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/mensadidasshirts.png");
}
.set-four{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/jordanshortsM.png");
}
.set-five{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/adidasMshorts.png");
}
.set-six{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/mensshortsnike.png");
}
.set-seven{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/jordanjoggersM.png");
}
.set-eight{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/nikejoggersM.png");
}
.set-nine{
  background-image: url("file:///Users/Creator/Code/shoes/holder/mens/mens%20joggers.png");
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clear-left{
  clear: left;
}

.clear-right{
  clear: right;
}


#main_content
{
margin-bottom: 100px;
}
#main_content li
{
 display:inline;
 list-style-type:none;
 background-color:#688A08;
 border-radius:5px 5px 0px 0px;
 font-weight:bold;
 cursor:pointer;
}
#main_content li.notselected
{
 background-color: transparent;
 width: 100px;
 color:#292A0A; 
 font-family: 'Lobster Two', cursive;
 border-radius: 100%;
text-align: center;
float: left;
position: relative;

}
#main_content li.notselected:hover{
  background-color: #01dddd;
}
#main_content li.selected
{
 background-color: #ff4e50;
 font-family: 'Lobster Two', cursive;
 width: 100px;
 color: #01dddd; 
  border-radius: 100%;
  text-align: center;
}
#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}
#main_content #page_content
{
 background-color:#D0F5A9;
 margin-top:9px;
 border-radius:0px 5px 5px 5px;
 color:#2E2E2E;
 line-height: 1.6em;
 word-spacing:4px;
}
h2{
  
  color: #01dddd ;  
  z-index: -1;
  top: 10px;
  position: relative;
}



