ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	clear: both;
}
li{
	display: inline;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;	
}

li a{
	display: ;
	padding: 8px;
  font-family: 'Domine', serif;
	color: white;
	padding: 20px 100px ;
	text-decoration: none;

}
li a:hover{
	background-color: #111;
	text-decoration: solid red underline;
}
* {box-sizing:border-box}
/*banner area*/


.banner > h1{
  color: black;
  background-color: rgb(207,207,207);
  float: left;
  position: relative;
  z-index: -1;
  top: 50px;
  width: 100%;
  height: 150px;
  padding: 10px;
  font-family: 'Lobster Two', cursive;
  font-size: 100px;
}
.icon{
  float: left;
  position: relative;
  left: 800px;
  bottom: 150px;
  z-index: -1;
}
.icontwo{
  float: left;
  position: relative;
  left: 850px;
  bottom: 150px;
  z-index: -1;
}
.iconthree{
  float: left;
  position: relative;
  left: 900px;
  bottom: 150px;
  z-index: -1;
}
.box{
  height: 400px;
  display: inline-block;
  text-align: center;
  width: 400px;
  border: 1px solid black;
  float: left;
  margin: 30px;
  position: relative;
  border-radius: 3px;
  
  z-index: -1;
  font-family: 'Domine', serif;
}
.one{
  right: 306px; 
  padding-top: 12%;
  padding-left: 40px;
  background-image: url("file:///Users/Creator/Downloads/autumn-goodman-242810.jpg");
}
.two{
  right: 354px;
  padding-top: 12%;
  padding-right: 40px;
  background-image: url("file:///Users/Creator/Code/workout.jpeg");
}
.three{
  bottom: 50px;
  right: 10px;
  padding-top: 12%;
  padding-right: 30px;
  background-image: url("file:///Users/Creator/Code/athletic.png");
}
.four{
  bottom: 50px;
  right: 57px;
  margin-bottom: -10%;
  padding-top: 16%;
  background-image: url("file:///Users/Creator/Code/pexels-photo-103520.jpeg");
}
.five{
  bottom: 50px;
  right: 103px;
  margin-bottom: -20%;
  padding-top: 13.5%;
  background-image: url("file:///Users/Creator/Downloads/william-stitt-111350.jpg");
}
.six{
  float: right;
  position: relative;
  bottom: 605px;
  right: 147px;
  padding-top: 12%;
  padding-right: 30px;
  background-image: url("file:///Users/Creator/Code/kids.jpg");
}
.seven{
  width: 95%;
  padding-top: 13%;
  font-size: 50px;
  color: white;
  background-image: url("https://static.pexels.com/photos/322207/pexels-photo-322207.jpeg");
}
.seven:hover{
  background-image: url("file:///Users/Creator/Downloads/pineapple-supply-co-244468.jpg");
  font-size: 10em;
  color: rgb(255,89,143);
}

.eight{
  width: 95%;
  padding-top: 13%;
  font-size: 50px;
  color: white;
  background-image: url("file:///Users/Creator/Downloads/jakob-owens-91197.jpg");
}
.eight:hover{
  background-image: url("https://static.pexels.com/photos/128598/pexels-photo-128598.jpeg");
  font-size: 10em;
  color: rgb(255,89,143);
}
