
body{
  background-color: 
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	clear: both;
}
li{
	display: inline;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;	
}

li a{
	display: ;
	padding: 8px;
  font-family: 'Domine', serif;
	color: white;
	padding: 20px 100px ;
	text-decoration: none;

}
li a:hover{
	background-color: #111;
	text-decoration: solid red underline;
}
* {box-sizing:border-box}

.section{
	position: relative;
	top: 100px;
	padding: 10px;
	color:#ffffff;
	background-color: rgba(207,207,207,0.8);
  width: 100%;
  z-index: -1;
  font-family: 'Domine', serif;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  position: relative;
  top: 100px;
  z-index: -1;
}
.slides-containertwo{
  padding: 60px 0px 100px 30px;

}

.Slides {
    display: none;
    margin-top: 30px;

}
 img{
	border: .5px solid rgba(207,207,207,0.8);
	border-radius: 5px 5px;

}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  background-color: #474a4f;
  font-size: 20px;
  font-family: courier, verdana, sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.box{
  color: white;
  font-family: 'Domine', serif;
  float: right;
  position: relative;
  right: 150px;
  text-align: center;
  bottom: 500px;
}
.box > img{
  border: none;
  padding:
}