html{
  font-size: 16px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: absolute;
	top: 0;
	width: 98.71%;
  overflow: hidden;
}
li{
	display: block;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;	
  overflow: hidden;
}

li a{
	display: ;
	padding: .5rem;
  font-family: 'Domine', serif;
	color: white;
	padding: 1.25rem 6.25rem ;
	text-decoration: none;

}
li a:hover{
	background-color: #111;
	text-decoration: solid red underline;
}
* {box-sizing:border-box}
        /*banner area*/


.banner > h1{
  color: black;
  background-color: rgb(207,207,207);
  float: left;
  position: absolute;
  z-index: -1;
  margin-top: 10;
  margin-bottom: 20%;
  top: 50px;
  width: 100%;
  height: 150px;
  padding: 10px;
  font-family: 'Lobster Two', cursive;
  font-size: 100px;
  clear: both;
}
.icon{
  float: left;
  position: relative;
  left: 90%;
  bottom: 150px;
  z-index: -1;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.icontwo{
  float: left;
  position: relative;
  left: 65%;
  bottom: 150px;
  z-index: -1;
  height: 96px;
  width: 96px;
  overflow: hidden;
}
.iconthree{
  float: left;
  position: relative;
  left: 67%;
  bottom: 150px;
  z-index: -1;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
/*slideshow area*/


button{

  background-color: none;
  border: none;
  border-radius: 2px;
  padding: 10px 24px;
}
button:hover{

  background-color: white;
}
.left{

  float: left;
  position: relative;
  bottom: 600px;
}
.right{

  float: right;
  position: relative;
  bottom: 600px;
}
.text {

  color: #f2f2f2;
  background-color: rgba(71,74,79,0.5);
  font-size: 20px;
  font-family: courier, verdana, sans-serif;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -10%;
  
}

.section{

	position: relative;
	top: 100px;
	padding: 10px;
	color:#ffffff;
	background-color: rgba(207,207,207,0.8);
  width: 100%;
  z-index: -1;
  font-family: 'Domine', serif;
}
.slideshow-container {

  width: 100%;
  height: 600px;
  position: relative;
  margin-bottom: 780px;
  margin-top: 20%;
  top: 50px;
  z-index: -1;
}
.slides-containertwo{

  padding: 60px 0px 100px 30px;
}

.Slides {

    display: none;
    margin-top: 30px;
}
 img{

	border: .5px solid rgba(207,207,207,0.8);
	border-radius: 5px 5px;
  

}

.next {

  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {

  background-color: rgba(0,0,0,0.8);
}


.numbertext {

  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.box{
  color: white;
  font-family: 'Domine', serif;
  float: right;
  position: relative;
  text-align: center;
  bottom: 500px;
}
.box > img{
  border: none;
}
.boximg{
  
}
.boxtxt{

}
form{
  float: left;
  position: relative;
  bottom: 60px;
  font-family: courier;
  color: white;
  background-color: #333;
  width: 100%;
}
fieldset{
  border-radius: 5px;
}
#email{
  background-color: rgb(207,207,207);
  color: #333;
  border-radius: 2px;
}
#tbox{
  width: 200px;
  margin-bottom: 10px;
  border-radius: 2px;
  border-color: white;
}
#ibox{
  background-color: rgb(17,144,207);
  border-radius: 5px;
  margin-left: 60px;
}
#ibox:hover{
  background-color: yellow;
}