html{
    font-family: 'Domine', serif;   
}

body{
   background-image: linear-gradient(#76b5e7, white, #c9dcf3,#333);
}

.container{
  position: relative;
  width: 80%;
  margin: 0 auto;
  

}
header {
  background: #333;
}

header::after{
  content: '';
  display: table;
  clear: both;
}


.logo{
  float: left;
  height: 50px;
  width: 100px;
  position: relative;
  right: 13%;

}

nav{
  float: right;
  width: 70%;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
nav li{
  display: inline-block;
  margin-left: 4em;
  padding-top: 1.3em;

  position: relative;
}
nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 

}

nav a:hover{
  color: white;
  text-decoration: none;
}
nav a::before{
  content: '';
  display: block; 
  height: 5px;
  width: 100%;
  background-color: #76b5e7;

  position: absolute;
  top: -3%;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;
}



* {box-sizing:border-box}
        /*banner area*/
.banner > h1{

  float: right;
  position: absolute;
  background-image: linear-gradient(#4871b6, #c9dcf3);
  height: 100px;
  width: 91.05%;
  z-index: -1;
  font-size: 75px;
  margin-left: -0.03%;
  font-family: 'lobster+two', serif;
  margin-top: 7%;
  margin-bottom: -8%;
  font-family: 'Lobster Two', cursive;
  color: rgb(255,89,143);
  box-shadow: 10px 10px 5px rgb(163,163,163);
  border-radius: 5px;
}
.icon2{
  float: right;
  position: relative;
  z-index: -1;
  height: 100px;
  width: 100px;
  top: 100px;
  clear: right;

}



.main{
  height: 50px;
  width: 80px;
  border-radius: 3px;
  float: left;
  border: none;
  padding: 0;
  margin-left: 

  background-color: none;
}
input[type=text]{

  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
    
  
}

.slideshow-container{

  float: left;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  margin-top: 17%;
  margin-left: 0;
  margin-right: 0;
  max-width: 80%;
  margin-bottom: 10%;
}


.text{

  bottom: 100px;
  float: left;
  position: relative;
  background-color: rgb(255,89,143);
  text-align: center;
  color: white;
  font-family: courier;
  width: 90%;
  height: 60px;
  padding-top: 1%;
  border-radius: 2px;
}
.section{
  float: left;
  position: relative;
  z-index: -1;
  background-color: rgba(207,207,207, 0.8);
  width: 100%;
  border-radius: 4px;
  height: 10%;
  font-family: 'Domine', serif;
  color: rgb(72,113,182);
  top: 150px;

}

.blog{
  width: 45%; 
  height:20%;
  margin-left: 5%;
  clear: left;
  margin-bottom: -10%;
  box-shadow: 10px 10px 5px rgb(163,163,163);
  border-radius: 5px;
}
.box{
  float: right;
  position: relative;
  width: 40%;
  bottom: 200px;
  text-align: center;
  margin-right: 5%;
  border-radius: 5px;
}

fieldset{
  float: left;
  width: 90%;
  font-family: courier;
  position: relative;
  background-color: backgroundblue /*rgb(186,215,235)*/;
  color: rgb(255,89,143);
  bottom: 0;
}
h1{
  float: left;
  margin-left: 5%;
  position: relative;
}
#tbox{
  height: 30px;
}
#main{
  max-width: 50%;
  max-height: 50%;
}
#right{
  position: absolute;
  right: 18%;
  top: 50%;
}
#left{
  position: absolute;
  left: 10%;
  top: 50%;
}
